/* BANNER START  */

#banner {
  position: relative;
  max-width: 100%;
  height: 100px;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: lightgrey;
  overflow: hidden;
}

#banner div, a {
  text-align: center;
  color: black;
}

#banner a {
  display: inline-block;
  margin: 0px;
  padding: 5px;
  letter-spacing: -2px;
}

#banner a:hover {
  text-decoration: none;
  background-color: black;
  height: 98px;
  color: white;
}

/* BANNER ENDS */
