h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  letter-spacing: -0.5px;
  color: #4C1919;
  text-shadow: 2px 2px black;
  text-align: center;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
}

h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: black;
  font-weight: lighter;
  text-align: center;
}

.error404 {
  position: relative;
  width: 70%;
  height: auto;
  top: 100px;
  left: 200px;
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:101.1%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
