/* -- GENERAL -- */

/*
* colors:
* #4C1919 - Bordô* - rgba(255, 0, 0, 0.6)
* #BAA87C - Bege* - lighter => #CFC7B4
*/

body, main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* MENU STARTS */

.menu-superior {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #4C1919;
  border-bottom: 2px solid black;
}

#nav a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color:  #CFC7B4;
  font-weight: lighter;
}

#nav a:hover {
  color: Dimgray;
  text-decoration: none;
}

/* MENU ENDS */

/* -- FOOTER STARTS -- */

.footer-section {
  position: absolute;
  top: 1000px;
  width: 100%;
  height: 162px;
  border-top: 2px solid black;
  background-color: #4C1919;
}

.footer-text {
  position: relative;
  top: 46px;
  left: 332px;
  width: 50%;
  height: 50px;
}

.footer-text h6 {
  position: relative;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #CFC7B4;
  text-shadow: 2px 2px black;
}

.footer-text a {
  font-size: 16px;
  color: #CFC7B4;
}

.footer-text a:hover {
  font-size: 16px;
  color: firebrick;
  text-decoration: none;
}

/* -- FOOTER ENDS -- */
