/* -- GENERAL -- */

body, main {
  margin: 0;
  padding: 0;
}

/* LANDPAGE */

.landing-page {
  position: flex;

}

/* LANDING-P-FUNDO */

.fundo {
  position: relative;
  z-index: 0;
  display: block;
  max-height: 632px;
  width: 100%;
  height: 632px;
  opacity: 0.9;
  background-color: black;
}

/* FUNDO ENDS */

/* MENU STARTS */

.menu {
  position: relative;
  width: 50%;
  top: 20px;
  left: 400px;
}

#nav a {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: lighter;
}

#nav a:hover {
  color: Dimgray;
  text-decoration: none;
}

/* MENU ENDS */

/* SOCIAL LINKS STARTS */

.social-links {
  position: relative;
  float: right;
  left: -30px;
  top: -20px;
}

.instagram-logo {
 position: relative;
 width: 50px;
 height: 25px;
 top: 120px;
}

.facebook-logo {
  position: relative;
  left: 43px;
  top: 70px;
  width: 30px;
  height: 25px;
}

/* SOCIAL LINKS ENDS */

/* AREA01 STARTS */

.area01 {
  position: relative;
  float: left;
  z-index: 1;
  top: -56px;
  max-height: 650px;
  max-width: 320px;
  height: 650px;
  width: 320px;
  background-color: white;
}

#logo-area01 {
  position: relative;
  left: 50px;
  top: 40px;
  max-width: 200px;
  width: 200px;
}

.links-landing-page {
  position: relative;
  left: 57px;
  top:75px;
  max-width: 200px;
  max-height: 310px;
  overflow: hidden;
}

.links-landing-page a {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  padding: 5px;
}

.links-landing-page a:hover {
  color: black;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.6);
}

/* AREA01 ENDS */

/* CAROUSEL STARTS */

.slide-inicial {
  position: relative;
  z-index: 0;
  top: -320px;
  left: 320px;
  max-width: 940px;
  max-height: 450px;
  width: 940px;
  height: 450px;
  overflow: hidden;
}

#carousel,
.carousel,
.carousel-inner,
.carousel-item {position: relative; z-index: -1;}

.c-img img {
  position: relative;
  z-index: 0;
  max-width: 100%;
  width: 100%;
  height: 450px;
}


/* CAROUSEL ENDS */

/* AREA02 STARTS */

.area02 {
  position: relative;
  z-index: 1;
  left: 949px;
  top: -368px;
  height: 120px;
  max-width: 400px;
  width: 400px;
  overflow: hidden;
  background-color: white;
}

.area02-inner h1 {
  position: relative;
  top: 45px;
  left: 40px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  color: black;
  font-size: 20px;
}

.flecha {
  position: relative;
  left: 250px;
  top: -8px;
  width: 70px;
  transform: rotate(180deg);
}
/* AREA02 ENDS */


/* -- QUOTE START -- */

.borda-esquerda {
  position: relative;
  width: 31.4%;
  max-height: 636px;
  height: 636px;
  left: -322px;
  background-color: black;
  opacity: 0.9;
}

.borda-esquerda img {
  position: relative;
  top: 250px;
  left: 160px;
  width: 50%;
  height: 220px;

}

.quote {
  position: relative;
  left: 319px;
  max-height: 636px;
  width: 76.40%;
  height: 636px;
  background-color: rgba(255, 0, 0, 0.6);
}

.quote-text {
  position: relative;
  top: -290px;
  left: 25px;
  width: 60.5%;
  height: 200px;
  text-align: justify;
}

.quote-text h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 28px;
  font-style: italic;
  color: black;
}

.quote-text a:hover {
  text-decoration: none;
}

.author-text h4 {
  position: relative;
  width: 250px;
  left: 440px;
  top: -25px;
  color: black;
  font-family: 'Oswald', sans-serif;

}

#author-slash {
  position: relative;
  top: 8px;
  left: 80px;
  width: 10%;
  border: 1.5px solid black;
}

.quote-img img {
  position: relative;
  top: -750px;
  left: -124px;
  width: 73%;
  height: 230px;
  border: 5px solid black;
}

#quotes-black {
  position: relative;
  top: -715px;
  left: 680px;
  width: 13%;
  height: 130px;
  transform: rotate(180deg);
}

#section-quote-name {
  position: relative;
  top: -1109px;
  left: 830px;
  width: 15%;
  height: 232px;
  background-color: black;
}

.vertical-text {
  position: relative;
  top: 30px;
  left: 45px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: white;
}

/* -- QUOTE ENDS -- */

/* -- REVISTA STARTS -- */

.linha-superior {
  position: relative;
  width: 80%;
  top: 50px;
  left: 140px;
  margin: 0;
  border: 1px solid black;
}

.revista-posts {
  position: relative;
  display: block;
  width: 100%;
  height: 1000px;
}

.revista-section-title {
  position: relative;
  top: 100px;
  left: 585px;
  width: 20%;
  height: 50px;
}

.revista-section-title h1 {
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;

}

.revista-section-title a:hover {
  text-decoration: none;
}

#seta {
  position: relative;
  top: 1.5px;
}

.revista-posts-inner {
  position: relative;
  width: 100%;
  top: 160px;
  height: auto;

}

.revista-posts a:hover {
  text-decoration: none;
}

/* REVISTA AREA 01 STARTS */

.revista-area01 {
  position: relative;
  float: left;
  width: 32%;
  height: 1100px;
  background-color: rgba(255, 0, 0, 0.6);
}

.post-area01-img {
  position: relative;
  width: 100%;
  max-height: 192px;
}

.post-title01-white {
  position: relative;
  top: 5px;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.post-text01-white {
  position: relative;
  top: 5px;
  font-family: 'Inconsolata', monospace;
  text-align: justify;
  color: white;
}

.post-1 {
  position: relative;
  top: 30px;
  left: 30px;
  width: 85%;
  height: 333px;
}

.post-4 {
  position: relative;
  top: 50px;
  left: 30px;
  width: 85%;
  height: 333px;
}

.post-7 {
  position: relative;
  top: 70px;
  left: 30px;
  width: 85%;
  height: 333px;
}

/* REVISTA AREA 01 ENDS */

/* REVISTA AREA 02 STARTS */

.revista-area02 {
  position: relative;
  float; left;
  left: 458px;
  width: 32%;
  height: 1100px;
}

.post02-img {
  position: relative;
  top: -1100px;
  width: 100%;
  max-height: 192px;
}

.post05-img {
  position: relative;
  top: -767px;
  width: 100%;
  max-height: 192px;
}

.post08-img {
  position: relative;
  top: -434px;
  width: 100%;
  max-height: 192px;
}

.post02-title {
  position: relative;
  text-align: justify;
  top: -1093px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.post02-text {
  position: relative;
  top: -1093px;
  font-family: 'Inconsolata', monospace;
  text-align: justify;
  color: black;
}

.post05-title {
  position: relative;
  top: -760px;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.post05-text {
  position: relative;
  top: -760px;
  font-family: 'Inconsolata', monospace;
  text-align: justify;
  color: black;
}

.post08-title {
  position: relative;
  top: -427px;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.post08-text {
  position: relative;
  top: -427px;
  font-family: 'Inconsolata', monospace;
  text-align: justify;
  color: black;
}

.post-2 {
  position: relative;
  top: 30px;
  left: 30px;
  width: 85%;
  height: 333px;
}

.post-5 {
  position: relative;
  top: 50px;
  left: 30px;
  width: 85%;
  height: 333px;
}

.post-8 {
  position: relative;
  top: 70px;
  left: 30px;
  width: 85%;
  height: 333px;
}

/* REVISTA AREA 02 ENDS */

/* REVISTA AREA 03 STARTS */

.revista-area03 {
  position: relative;
  float: right;
  top: -1100px;
  width: 32%;
  height: 1101px;
  background-color: black;
}

.post-3 {
  position: relative;
  top: 30px;
  left: 30px;
  width: 85%;
  height: 333px;
}

.post-6 {
  position: relative;
  top: 50px;
  left: 30px;
  width: 85%;
  height: 333px;
}

.post-9 {
  position: relative;
  top: 70px;
  left: 30px;
  width: 85%;
  height: 333px;
}

#post09-img {
  height: 192px;
}

/* REVISTA AREA 03 ENDS */
/* -- REVISTA ENDS -- */

/* -- SOBRE STARTS -- */

.events-section {
  position: relative;
  top: 312px;
  width: 100%;
  height: 634px;
}

.agenda-section {
  position: relative;
  width: 68%;
  height: 634px;
  background-color: black;
}

#fundo-agenda-title {
  position: relative;
  top: 30px;
  left: 70px;
  width: 9%;
  height: 280px;
  background-color: white;
  border-radius: 3px;
}

#agenda-title {
  position: relative;
  top: -137px;
  left: 5px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  color: black;
}

.calendario {
  position: relative;
  top: -270px;
  left: 210px;
}

.agenda-text {
  position: relative;
  top: -245px;
  left: 70px;
  width: 81%;
  height: 250px;
}

.agenda-text a:hover {
  text-decoration: none;
}

.agenda-text h2:hover {
  color: Dimgray;
}

.agenda-text p:hover {
  color: Dimgray;
}

.agenda-text h2 {
  position: relative;
  top: 5px;
  left: 5px;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 22px;
}

.agenda-text p {
  position: relative;
  top: 5px;
  left: 5px;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 14px;
}

.newsletter-section {
  position: relative;
  top: -633px;
  left: 917px;
  width: 32%;
  height: 634px;
}

.logo02-area {
  position: relative;
  top: 15px;
  width: 100%;
  height: 285px;
}

.logo02-img {
  position: relative;
  left: 50px;
  width: 80%;
  height: auto;
}

.newsletter-divise {
  position: relative;
  left: 5px;
  width: 50%;
  border: 5px solid black;
}

.newsletter-title {
  position: relative;
  top: 25px;
  left: 35px;
  width: 90%;
  height: 350px;
}

.newsletter-title h2 {
  position: relative;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 40px;
  letter-spacing: 12px;
}

.newsletter {
  position: relative;
  top: -120px;
  left: 25px;
  width: 90%;
}

.email-box {
  position: relative;
  width: 100%;
  height: 65px;
  background-color: white;
  border: 4px solid black;
}

::-moz-placeholder {
  font-size: 22px;
  font-family: 'Inconsolata', monospace;
  color: black;
}

.submit-box {
  position: relative;
  top: 20px;
  left: 130px;
  width: 25%;
  height: 50px;
  border: 0px solid black;
  background-color: white;
  font-style: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
}

/* -- EVENTS ENDS -- */

/* COLABORADORES START */

.colaboradores-section {
  position: relative;
  top: 296px;
  width: 100%;
  height: 400px;
  background-color: white;
}

.diviser {
  position: relative;
  width: 75%;
  top: 60px;
  border: 5px solid black;
}

.colaboradores-title {
  position: relative;
  top: -10px;
  left: 250px;
  width: 35%;
  height: 100px;
  background-color: white;
}

.colaboradores-title h1 {
  position: relative;
  top: 15px;
  text-align: center;
  font-size: 50px;
  font-style: 'Oswald', sans-serif;
  color: black;
}

.colaboradores-img-section {
  position: relative;
  width: 100%;
  height: 300px;
}

.colaborador01 {
  position: relative;
  top: 100px;
  left: 350px;
  width: 20%;
  height: 100px;
}

.colaborador01 img {
  position: relative;
  width: 100%;
}

.colaborador02 {
  position: relative;
  left: 700px;
  width: 20%;
  height: 100px;
}

.colaborador02 img {
  position: relative;
  width: 100%;
}

#diviser2 {
  top: -16px;
  width: 99.3%;
}

/* COLABORADORES ENDS */

/* -- NAV 2 START -- */
.menu2 {
  position: relative;
  top: 332px;
  width: 100%;
  height: 75px;
  background-color: rgba(255, 0, 0, 0.6);
  border-bottom: 10px solid black;
}

#nav2 a {
  position: relative;
  top: 7px;
  left: 217px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

#nav2 a:hover {
  color: white;
  text-decoration: none;
}

/* -- NAV 2 END -- */

/* -- FOOTER STARTS -- */

.footer-section {
  position: relative;
  top:332px;
  width: 100%;
  height: 123px;
}

.footer-text {
  position: relative;
  top: 46px;
  left: 332px;
  width: 50%;
  height: 50px;
}

.footer-text h6 {
  position: relative;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  letter-spacing: -0.5px;
}

.footer-text a {
  font-size: 16px;
  color: black;
}

.footer-text a:hover {
  font-size: 16px;
  color: firebrick;
  text-decoration: none;
}

/* -- FOOTER ENDS -- */
