/* -- GENERAL -- */

/*
* colors:
* #4C1919 - Bordô* -  rgba(178, 35, 35, .5)
* #BAA87C - Bege* - lighter => #CFC7B4
*/

body, main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

body, main, .container {
  background-color: Ivory;
}


/* LANDPAGE */

.landing-page {

}

/* LANDING-P-FUNDO */

.fundo {
  position: relative;
  z-index: 0;
  display: block;
  max-height: 621px;
  width: 100%;
  height: 621px;
  opacity: 0.9;
  background-color: #4C1919;
}

/* FUNDO ENDS */

/* MENU STARTS */

.menu {
  position: relative;
  width: 65%;
  top: 25px;
  left: 350px;
}

#nav a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: lighter;
}

#nav a:hover {
  color: Dimgray;
  text-decoration: none;
}

/* MENU ENDS */

/* SOCIAL LINKS STARTS */

.social-links {
  position: relative;
  float: right;
  left: -70px;
  top: -10px;
}

.instagram-logo {
 position: absolute;
 top: -1px;
 left: -60px;
 width: 55px;
 height: 40px;
}

.facebook-logo {
  position: absolute;
  left: -90px;
  width: 35px;
  height: 30px;
}

/* SOCIAL LINKS ENDS */

/* AREA01 STARTS */

.area01 {
  position: relative;
  float: left;
  z-index: 99;
  top: -40px;
  left: -944px;
  max-height: 625px;
  max-width: 320px;
  height: 625px;
  width: 320px;
  background-color: white;
}

.logo-landing-page {
  position: absolute;
  left: 15px;
  top: 15px;
  max-width: 90%;
  width: 90%;
}

#logo-area01 {
  position: relative;
  top: -20px;
  left: 15px;
  width: 100%;
}

.links-landing-page {
  position: absolute;
  left: 40px;
  top:230px;
  max-width: 245px;
  max-height: 400px;
  overflow: hidden;
}

.links-landing-page a {
  color: black;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding: 3px;
}

.links-landing-page a:hover {
  color: black;
  text-decoration: none;
  background-color: rgba(178, 35, 35, .5);
}


/* AREA01 ENDS */

/* CAROUSEL STARTS */

.slider-section {
  position: relative;
  float: left;
  top: 30px;
  left: 320px;
  width: 70%;
  height: 70%;
}

.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
}

.slide-img img {
  width: 100%;
  height: 100%;
}

.pre, .nxt {
  position: absolute;
  width: 12%;
  height: 434px;
  top: 0;
  background-color: rgba(178, 35, 35, .2);
  z-index: 99;
  cursor: pointer;
}
.pre {
  left: 0;
}

.nxt {
  right: 0;
}

.nav-btns {
  position: absolute;
  text-align: center;
  z-index: 99;
  display: inline-block;
}

.dots {
  position: relative;
  left: 150px;
  border-radius: 50%;
}

input[type="radio"] {
  position: relative;
  z-index: 99;
  top: 425px;
  left: 490px;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
  z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3 {
  background: #fff;
}

/* CAROUSEL ENDS */

/* AREA02 STARTS */

.area02 {
  position: relative;
  z-index: 99;
  top: -200px;
  left: 900px;
  height: 120px;
  max-width: 400px;
  width: 400px;
  overflow: hidden;
  background-color: white;
}

.area02-inner h1 {
  position: absolute;
  top: 30px;
  left: 60px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  color: black;
  font-size: 40px;
  text-shadow: 1.5px 1.5px #4C1919;
}

.area02-inner a {
  text-decoration: none;
}

.area02-inner a:hover {
  text-decoration: none;
}

.flecha {
  position: absolute;
  top: 20px;
  left: 280px;
  width: 70px;
  transform: rotate(180deg);
}
/* AREA02 ENDS */


/* -- QUOTE START -- */

.borda-esquerda {
  position: relative;
  width: 31.3%;
  max-height: 636px;
  height: 481px;
  left: -322px;
  background-color: rgba(106, 25, 25, .9);
}

.borda-esquerda img {
  position: absolute;
  top: 60px;
  left: 160px;
  width: 50%;
  height: 220px;
}

.quote {
  position: relative;
  left: 320px;
  max-height: 636px;
  width: 76.2%;
  height: 481px;
  background-color: white;
  border-bottom: 20px solid rgba(106, 25, 25, .9);
}

.quote-text {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 80%;
  height: 420px;
  text-align: justify;
}

.quote-text h3 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  color: black;
  text-shadow: 0.5px 0.5px black;
}

#qt-text01 {
  font-size: 18px;

}

#qt-text02 {
  font-size: 20px;
}

.quote-text a:hover {
  text-decoration: none;
}

.author-text {
  position: absolute;
  left: 522px;
  width: 300px;
  height: 50px;
  background-color: black;
}

.author-text h4 {
  position: relative;
  top: 5px;
  left: 90px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

#author-slash {
  position: absolute;
  top: 10px;
  left: 43px;
  z-index: 99;
  width: 15%;
  border: 1.5px solid white;
}


#quotes-black {
  position: absolute;
  top:  115px;
  left: 875px;
  width: 13%;
  height: 130px;
  transform: rotate(180deg);
}

#section-quote-name {
  position: relative;
  top: -185px;
  left: -335px;
  width: 25%;
  height: 115px;
}

.quotes-title {
  position: absolute;
  top: 30px;
  left: 45px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  font-size: 70px;
  color: #CFC7B4;
  text-shadow: 3px 3px black;
}

/* -- QUOTE ENDS -- */

/* -- REVISTA STARTS -- */

.revista-posts {
  position: relative;
  width: 100%;
  height: auto;
}

.revista-section-title a:hover {
  text-decoration: none;
}

.revista-posts a:hover {
  text-decoration: none;
}

/* REVISTA-INNER STARTS */

.revista-posts-inner {
  position: relative;
  z-index: 0;
  top: 20px;
  width: 100%;
  height: 1330px;
  border-bottom: 20px solid #4C1919;
  background-color: white;
}

.continue-btn {
  background-color: #4C1919;
}

.continue-btn h5 {
  color: #CFC7B4;
  text-shadow: 1px 1px black;
}

.author {
  background-color:black;
}

.author h4 {
  color: white;
}

.text {
  background-color: #CFC7B4;
}

.slash-revista {
  position: relative;
  width: 25px;
  border: 1.5px solid white;
}

.maria-trindade-section {
  position: relative;
  float: left;
  top: 0px;
  left: 15px;
  width: 51.1%;
  height: 570px;
  background-color: #4C1919;
}

.maria-trindade-img {
  position: absolute;
  border: 1px solid black;
}

.maria-trindade-img img {
  position: relative;
  width: 100%;
  height: auto;
}

.maria-trindade-title {
  position: absolute;
  top: 437px;
  left: 15px;
  width: 100%;
}

.maria-trindade-title h1 {
  color: #CFC7B4;
  font-size: 120px;
  text-align: justify;
  letter-spacing: 4px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 3px 3px black;
}

.maria-trindade-author {
  position: absolute;
  top: 570px;
  left: 155px;
  width: 40%;
  height: 40px;
  text-align: center;
}

.maria-trindade-author h4 {
  position: relative;
  top: -33px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

#maria-trindade-slash {
  top: 3px;
  left: -110px;
  color: white;
}

.bru-pereira-section {
  position: relative;
  float: right;
  top: -15px;
  left: -20px;
  width: 45%;
  height: 300px;
}

.bru-pereira-title {
  position: absolute;
  width: 50%;
  text-align: right;
}

.bru-pereira-title h1 {
  position: relative;
  top: -20px;
  left: -15px;
  font-size: 140px;
  font-family: 'Oswald', sans-serif;
  color: #4C1919;
  text-shadow: 3px 3px black;
}

.bru-pereira-author {
  position: absolute;
  top: 90px;
  left: 405px;
  width: 30%;
  height: 40px;
}

#bru-pereira-slash {
  top: 5px;
  left: -50px;
}

.bru-pereira-author h4 {
  position: relative;
  top: -30px;
  left: 60px;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
}

.bru-pereira-text {
  position: absolute;
  top: 140px;
  left: 10px;
  width: 95%;
  max-height: 300px;
  height: 130px;
  padding: 5px 10px;
  text-align: justify;
}

.bru-pereira-text p {
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.bru-pereira-continue {
  position: absolute;
  top: 240px;
  left: 314px;
  width: 45%;
  height: 40px;
}

.bru-pereira-continue h5 {
  position: relative;
  top: 7px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.carol-do-vale-section {
  position: relative;
  float: right;
  left: -40px;
  width: 43%;
  height: 280px;
}

.carol-do-vale-title {
  position: absolute;
  width: 100%;
  height: 160px;
}

.carol-do-vale-title h1 {
  text-align: right;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  color: #4C1919;
  text-shadow: 1.5px 1.5px black;
}

.carol-do-vale-author {
  position: absolute;
  top: 55px;
  left: 25px;
  width: 30%;
  height: 40px;
}

#carol-do-vale-slash {
  top: 3px;
  left: -60px;
}

.carol-do-vale-author h4 {
  position: relative;
  top: -30px;
  left: 45px;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

.carol-do-vale-text {
  position: absolute;
  top: 105px;
  width: 100%;
  height: 150px;
  padding: 5px 10px;
}

.carol-do-vale-text p {
  text-align: justify;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.carol-do-vale-continue {
  position: absolute;
  top: 232px;
  left: 302px;
  width: 48%;
  height: 40px;
}

.carol-do-vale-continue h5 {
  position: relative;
  text-align: center;
  top: 7px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.bruna-gomes-section {
  position: relative;
  float: right;
  top: 10px;
  left: 540px;
  width: 43.2%;
  height: 650px;
}

.bruna-gomes-imgs {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 430px;
}

.bruna-gomes-img1 {
  position: absolute;
  float: left;
  top: 0px;
  width: 47%;
  height: auto;
}


.bruna-gomes-img1 img {
  position: relative;
  top: 10px;
  width: 100%;
  height: auto;
  border: 4px solid #4C1919;
}

.bruna-gomes-title01 {
  position: absolute;
  float: left;
  top: 15px;
  left: 300px;
  width: 44%;
  height: 150px;
}

.bruna-gomes-title01 h1 {
  position: relative;
  text-align: center;
  font-size: 110px;
  font-family: 'Oswald', sans-serif;
  color: #4C1919;
}

.bruna-gomes-img2 {
  position: absolute;
  float: right;
  top: 150px;
  left: 295px;
  width: 47%;
  height: auto;
}

.bruna-gomes-img2 img {
  position: relative;
  width: 100%;
  height: auto;
  border: 4px solid #4C1919;
}

.bruna-gomes-title02 {
  position: absolute;
  float: left;
  top: 342px;
  left: 288px;
  width: 49%;
  height: 110px;
}

.bruna-gomes-title02 h1 {
  position: relative;
  left: 5px;
  text-align: left;
  font-size: 98px;
  word-spacing: -9px;
  font-family: 'Oswald', sans-serif;
  color: #4C1919;
}

.bruna-gomes-img3 {
  position: absolute;
  float: left;
  top: 280px;
  width: 47%;
  height: auto;
}

.bruna-gomes-img3 img {
  position: relative;
  width: 100%;
  height: auto;
  border: 4px solid #4C1919;
}

.bruna-gomes-text {
  position: absolute;
  top: 470px;
  width: 100%;
  height: 120px;
  padding: 5px 10px;
}

.bruna-gomes-text p {
  position: relative;
  text-align: justify;
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.bruna-gomes-author {
  position: absolute;
  float: right;
  top: 570px;
  left: 350px;
  width: 40%;
  height: 40px;
}

#bruna-gomes-slash {
    top: 2px;
    left: -60px;
    border: 1.5px solid white;
}

.bruna-gomes-author h4 {
  position: relative;
  top: -28px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.bruna-gomes-continue {
  position: absolute;
  top: 620px;
  width: 100%;
  height: 60px;
}

.bruna-gomes-continue h5 {
  position: relative;
  text-align: center;
  top: 12px;
  left: 55;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px black;
}

.bruna-diniz-section {
  position: relative;
  float: left;
  top: -570px;
  left: 15px;
  width: 24%;
  height: 520px;
}

.bruna-diniz-author {
  position: relative;
  float: right;
  top: -30px;
  width: 60%;
  height: 40px;
}

.bruna-diniz-author h4 {
  position: relative;
  top: -28px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

#bruna-diniz-slash {
  top: 2px;
  left: -10px;
  border: 1.5px solid white;
}

.bruna-diniz-text {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #CFC7B4;
  padding: 5px 10px;
}

.bruna-diniz-text p {
  position: relative;
  text-align: justify;
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.bruna-diniz-continue {
  position: relative;
  top: 20px;
  width: 100%;
  height: 60px;
}

.bruna-diniz-continue h5 {
  position: relative;
  top: 5px;
  left: 100px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.bruno-caldeira-section {
  position: relative;
  float: left;
  top: -570px;
  left: 45px;
  width: 24%;
  height: 450px;
}

.bruno-caldeira-title {
  position: relative;
  width: 100%;
  height: 40px;
}

.bruno-caldeira-title h4 {
  position: relative;
  top: -5px;
  text-align: left;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  color: #4C1919;
}

.bruno-caldeira-author {
  position: relative;
  float: right;
  top: -30px;
  width: 60%;
  height: 40px;
}

.bruno-caldeira-author h4 {
  position: relative;
  top: -26px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

#bruno-caldeira-slash {
  top: 5px;
  left: -35px;
  border: 1.5px solid white;
}

.bruno-caldeira-text {
  position: relative;
  top: -10px;
  width: 100%;
  height: 359px;
  background-color: #CFC7B4;
  padding: 5px 10px;
}

.bruno-caldeira-text p {
  position: relative;
  text-align: justify;
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.bruno-caldeira-continue {
  position: relative;
  top: 21px;
  width: 100%;
  height: 60px;
}

.bruno-caldeira-continue h5 {
  position: relative;
  top: 5px;
  left: 100px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.edicao1 {
  position: relative;
  float: left;
  top: -80px;
  left: -633px;
  width: 50.3%;
  height: 140px;
}

.revista-link {
  position: relative;
  float: left;
  width: 48%;
  height: 100%;
  background-color: #4C1919;
}

.revista-link h1 {
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  color: #CFC7B4;
  text-shadow: 3px 3px black;
}

.edicao-link {
  position: relative;
  float: right;
  width: 48%;
  height: 100%;
  background-color: #4C1919;
}

.edicao-link h1 {
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  color: #CFC7B4;
  text-shadow: 3px 3px black;
}


/* REVISTA-INNER ENDS */

/* -- REVISTA ENDS -- */

/* -- SOBRE STARTS -- */

.events-section {
  position: relative;
  top: 0px;
  width: 100%;
  height: 554px;
  background-color: #4C1919;
  border-bottom: 20px solid #4C1919;
}

.agenda-section {
  position: absolute;
  top: 20px;
  width: 68%;
  height: 534px;
  z-index: 99;
}

#fundo-agenda-title {
  position: absolute;
  left: 50px;
  width: 50%;
  height: 150px;
}

#agenda-title {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  letter-spacing: 5px;
  font-weight: normal;
  color: #CFC7B4;
  text-shadow: 2.5px 2.5px black;
}

.calendario {
  position: absolute;
  top: 25px;
  left: 430px;
}

.agenda-text-01 {
  position: absolute;
  float: left;
  top: 120px;
  left: 15px;
  width: 42%;
  height: 155px;
}

.agenda-text-02 {
  position: absolute;
  float: left;
  top: 300px;
  left: 15px;
  width: 89%;
  height: 200px;
}

.agenda-text-01 a:hover, .agenda-text-02 a:hover {
  text-decoration: none;
}

.agenda-text-01 h2:hover, .agenda-text-02 h2:hover {
  color: Dimgray;
}

.agenda-text-01 p:hover, .agenda-text-02 p:hover {
  color: Dimgray;
}

.agenda-text-01 h2, .agenda-text-02 h2 {
  position: relative;
  top: 5px;
  left: 5px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 28px;
  text-shadow: 2px 2px black;
}

.agenda-text-01 p, .agenda-text-02 p {
  position: relative;
  top: 5px;
  left: 5px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 18px;
}

.newsletter-section {
  position: absolute;
  float:right;
  top: 45px;
  left: 880px;
  width: 32%;
  height: 460px;
  background-color: white;
}

.logo02-area {
  position: absolute;
  width: 100%;
  height: 240px;
}

.logo02-img {
  position: absolute;
  top: -25px;
  left: 50px;
  width: 80%;
  height: auto;
}

.newsletter-title {
  position:absolute;
  top: 250px;
  left: 25px;
  width: 90%;
  height: 50px;
}

.newsletter-title h2 {
  position: relative;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 40px;
  letter-spacing: 12px;
}

.newsletter {
  position: absolute;
  top: 305px;
  left: 25px;
  width: 90%;
  height: 150px;
}

.email-box {
  position: absolute;
  top: -290px;
  left: -10px;
  width: 100%;
  height: 65px;
  background-color: white;
  border: 4px solid black;
}

::-moz-placeholder {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  color: black;
}

.submit-box {
  position: absolute;
  top: -225px;
  left: 115px;
  width: 25%;
  height: 50px;
  border: 0px solid black;
  background-color: white;
  font-style: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
}

/* -- EVENTS ENDS -- */

/* COLABORADORES START */

.colaboradores-section {
  position: relative;
  top: 0px;
  width: 100%;
  height: 435px;
  border-bottom: 20px solid #4C1919;
}

.linha-esquerda hr {
  position: absolute;
  float: left;
  top: 50px;
  width: 5%;
  border: 10px solid #4C1919;
}

.linha-direita hr {
  position: absolute;
  float: right;
  left: 730px;
  top: 50px;
  width: 44.4%;
  border: 10px solid #4C1919;
}

.colaboradores-title {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 60%;
  height: 100px;
}

.colaboradores-title h1 {
  position: relative;
  text-align: center;
  font-size: 75px;
  font-style: 'Oswald', sans-serif;
  color: black;
  text-shadow: 3px 3px #4C1919;
}

.colaboradores-img-section {
  position: relative;
  top: 115px;
  width: 100%;
  height: 300px;
}

.colaborador01 {
  position: relative;
  top: 100px;
  left: 400px;
  width: 20%;
  height: 100px;
}

.colaborador01 img {
  position: relative;
  width: 100%;
}

.colaborador02 {
  position: relative;
  left: 700px;
  width: 20%;
  height: 100px;
}

.colaborador02 img {
  position: relative;
  width: 100%;
}

/* COLABORADORES ENDS */

/* -- NAV 2 START -- */
.menu2 {
  display: inline-block;
  width: 100%;
  height: 100px;
}

.nav-scroller2 {
  position: relative;
  width: 100%;
  height: 102px;
  background-color: #4C1919;

}

#nav2 a {
  position: relative;
  top: 15px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  color: #CFC7B4;
  font-weight: lighter;
}

#nav2 a:hover {
  color: white;
  text-decoration: none;
}

/* -- NAV 2 END -- */

/* -- FOOTER STARTS -- */

.footer-section {
  display: inline-block;
  width: 100%;
  height: 100px;
  background-color: #4C1919;
}

.footer-text {
  position: relative;
  top: 46px;
  left: 332px;
  width: 50%;
  height: 50px;
}

.footer-text h6 {
  position: relative;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #CFC7B4;
  text-shadow: 1px 1px black;
}

.footer-text a {
  font-size: 16px;
  color: #CFC7B4;
}

.footer-text a:hover {
  font-size: 16px;
  color: firebrick;
  text-decoration: none;
}

/* -- FOOTER ENDS -- */
