/* -- GENERAL -- */

/*
* colors:
* #4C1919 - Bordô* -  rgba(178, 35, 35, .5) - rgba(233, 26, 26, 1)
* #BAA87C - Bege* - lighter => #CFC7B4
*/

body, main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

body, main, {
  background-color: white;
}

.text p {
  text-align: justify;
  font-family: 'Crimson Text', serif;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 3100px;
}


/* LANDPAGE */

.landing-page {
  position: absolute;
  width: 100%;
  height: 621px;
}

/* LANDING-P-FUNDO */

.fundo {
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  height: 621px;
  background-color: black;
}

/* FUNDO ENDS */

/* MENU STARTS */

.menu {
  position: relative;
  width: 65%;
  top: 25px;
  left: 350px;
}

#nav a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: lighter;
}

#nav a:hover {
  color: Dimgray;
  text-decoration: none;
}

/* MENU ENDS */

/* SOCIAL LINKS STARTS */

.social-links {
  position: relative;
  float: right;
  left: -70px;
  top: -10px;
}

.instagram-logo {
 position: absolute;
 top: -1px;
 left: -60px;
 width: 55px;
 height: 40px;
}

.facebook-logo {
  position: absolute;
  left: -90px;
  width: 35px;
  height: 30px;
}

/* SOCIAL LINKS ENDS */

/* AREA01 STARTS */

.area01 {
  position: relative;
  float: left;
  z-index: 99;
  top: -40px;
  left: -945px;
  max-height: 625px;
  max-width: 320px;
  height: 625px;
  width: 320px;
  background-color: white;
}

.logo-landing-page {
  position: absolute;
  left: 15px;
  top: 15px;
  max-width: 90%;
  width: 90%;
}

#logo-area01 {
  position: relative;
  top: -20px;
  left: 15px;
  width: 100%;
}

.links-landing-page {
  position: absolute;
  left: 15px;
  top:230px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

.links-landing-page a {
  color: black;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 16px;
  padding-left: 3px;
}

.links-landing-page a:hover {
  color: black;
  text-decoration: none;
  background-color: rgba(233, 26, 26, 1);
}


/* AREA01 ENDS */

/* CAROUSEL STARTS */

.slider {
  position: relative;
  float: left;
  top: 50px;
  left: 319px;
  width: 70%;
}

.carousel-item img {
  height: 450px;
}

.maria-caption h5 {
  position: relative;
  top: -330px;
  left: -300px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.maria-caption p {
  position: relative;
  top: -330px;
  left: -300px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.davi-caption h5 {
  position: relative;
  top: -330px;
  left: -300px;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
}

.davi-caption p {
  position: relative;
  top: -330px;
  left: -300px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.bruna-caption h5 {
  position: relative;
  top: -330px;
  left: -300px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.bruna-caption p {
  position: relative;
  top: -330px;
  left: -300px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.claudinei-caption h5 {
  position: relative;
  top: -330px;
  left: -200px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.claudinei-caption p {
  position: relative;
  top: -330px;
  left: -280px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
}



/* CAROUSEL ENDS */

/* AREA02 STARTS */

.area02 {
  position: relative;
  z-index: 99;
  top: -200px;
  left: 900px;
  height: 120px;
  max-width: 400px;
  width: 400px;
  overflow: hidden;
  background-color: white;
}

.area02-inner h1 {
  position: absolute;
  top: 30px;
  left: 60px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  color: black;
  font-size: 40px;
  text-shadow: 1.5px 1.5px rgba(233, 26, 26, 1);
}

.area02-inner a {
  text-decoration: none;
}

.area02-inner a:hover {
  text-decoration: none;
}

.flecha {
  position: absolute;
  top: 20px;
  left: 280px;
  width: 70px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
/* AREA02 ENDS */


/* -- QUOTE START -- */

.borda-esquerda {
  position: relative;
  width: 31.3%;
  max-height: 636px;
  height: 481px;
  left: -322px;
  background-color: black;
}

.borda-esquerda img {
  position: absolute;
  top: 60px;
  left: 160px;
  width: 50%;
  height: 220px;
}

.quote {
  position: absolute;
  top: 621px;
  left: 320px;
  max-height: 636px;
  width: 76.2%;
  height: 481px;
  background-color: white;
  border-bottom: 30px solid black;
}

.quote-text {
  position: absolute;
  top: 90px;
  left: 65px;
  width: 80%;
  height: 300px;
}

.quote-text h3 {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 90px;
  color: black;
  text-shadow: 0.5px 0.5px black;
}

.quote-text a:hover {
  text-decoration: none;
}

.author-text {
  position: absolute;
  top: 280px;
  left: 300px;
  width: 300px;
  height: 50px;
  background-color: rgba(233, 26, 26, 1);
}

.author-text h4 {
  position: relative;
  top: 5px;
  left: 90px;
  color: #CFC7B4;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

#author-slash {
  position: absolute;
  top: 10px;
  left: 43px;
  z-index: 99;
  width: 15%;
  border: 1.5px solid #CFC7B4;
}


#quotes-black {
  position: absolute;
  top:  115px;
  left: 755px;
  width: 13%;
  height: 130px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

#section-quote-name {
  position: relative;
  top: -185px;
  left: -335px;
  width: 25%;
  height: 115px;
}

.quotes-title {
  position: absolute;
  top: 30px;
  left: 85px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  font-size: 90px;
  color: #CFC7B4;
  text-shadow: 3px 3px black;
}

/* -- QUOTE ENDS -- */

/* -- REVISTA STARTS -- */

.revista-posts {
  position: absolute;
  top:1100px;
  width: 100%;
  height: auto;
}

.revista-section-title a:hover {
  text-decoration: none;
}

.revista-posts a:hover {
  text-decoration: none;
}

/* REVISTA-INNER STARTS */

.revista-posts-inner {
  position: relative;
  z-index: 0;
  top: 20px;
  width: 100%;
  height: 1330px;
  background-color: white;
}

.title h1 {
  color: rgba(233, 26, 26, 1);
}

.continue-btn {
  background-color: rgba(233, 26, 26, 1);
}

.continue-btn h5 {
  color: #CFC7B4;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px black;
}

.author {
  background-color:black;
}

.author h4 {
  color: white;
}

.text {
  background-color: white;
}

.slash-revista {
  position: relative;
  width: 25px;
  border: 1.5px solid white;
}

.maria-trindade-section {
  position: relative;
  float: left;
  top: 0px;
  left: 15px;
  width: 51.1%;
  height: 570px;
  background-color: rgba(233, 26, 26, 1);
}

.maria-trindade-img {
  position: absolute;
  border: 1px solid black;
}

.maria-trindade-img img {
  position: relative;
  width: 100%;
  height: auto;
}

.maria-trindade-title {
  position: absolute;
  top: 437px;
  left: 15px;
  width: 100%;
}

.maria-trindade-title h1 {
  font-size: 120px;
  color: #CFC7B4;
  text-align: justify;
  letter-spacing: 4px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 3px 3px black;
}

.maria-trindade-author {
  position: absolute;
  top: 570px;
  left: 155px;
  width: 40%;
  height: 40px;
  text-align: center;
}

.maria-trindade-author h4 {
  position: relative;
  top: -33px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

#maria-trindade-slash {
  top: 3px;
  left: -110px;
  color: white;
}

.bru-pereira-section {
  position: relative;
  float: right;
  top: -15px;
  left: -20px;
  width: 45%;
  height: 300px;
}

.bru-pereira-title {
  position: absolute;
  width: 50%;
  text-align: right;
}

.bru-pereira-title h1 {
  position: relative;
  top: -20px;
  left: -15px;
  font-size: 140px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 3px 3px black;
}

.bru-pereira-author {
  position: absolute;
  top: 90px;
  left: 405px;
  width: 30%;
  height: 40px;
}

#bru-pereira-slash {
  top: 5px;
  left: -50px;
}

.bru-pereira-author h4 {
  position: relative;
  top: -30px;
  left: 60px;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
}

.bru-pereira-text {
  position: absolute;
  top: 140px;
  left: 10px;
  width: 95%;
  max-height: 300px;
  height: 130px;
  text-align: justify;
}

.bru-pereira-text p {
  font-size: 19px;
  color: black;
}

.bru-pereira-continue {
  position: absolute;
  top: 240px;
  left: 314px;
  width: 45%;
  height: 40px;
}

.bru-pereira-continue h5 {
  position: relative;
  top: 7px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.carol-do-vale-section {
  position: relative;
  float: right;
  left: -40px;
  width: 43%;
  height: 280px;
}

.carol-do-vale-title {
  position: absolute;
  width: 100%;
  height: 160px;
}

.carol-do-vale-title h1 {
  text-align: right;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1.5px 1.5px black;
}

.carol-do-vale-author {
  position: absolute;
  top: 55px;
  left: 25px;
  width: 30%;
  height: 40px;
}

#carol-do-vale-slash {
  top: 3px;
  left: -60px;
}

.carol-do-vale-author h4 {
  position: relative;
  top: -30px;
  left: 45px;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

.carol-do-vale-text {
  position: absolute;
  top: 105px;
  width: 100%;
  height: 150px;
}

.carol-do-vale-text p {
  text-align: justify;
  font-size: 18px;
  color: black;
}

.carol-do-vale-continue {
  position: absolute;
  top: 232px;
  left: 302px;
  width: 48%;
  height: 40px;
}

.carol-do-vale-continue h5 {
  position: relative;
  text-align: center;
  top: 7px;
  font-size: 20px;
}

.bruna-gomes-section {
  position: relative;
  float: right;
  top: 10px;
  left: 540px;
  width: 43.2%;
  height: 650px;
}

.bruna-gomes-imgs {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 430px;
}

.bruna-gomes-img1 {
  position: absolute;
  float: left;
  top: 0px;
  width: 47%;
  height: auto;
}


.bruna-gomes-img1 img {
  position: relative;
  top: 10px;
  width: 100%;
  height: auto;
  border: 4px solid #4C1919;
}

.bruna-gomes-title01 {
  position: absolute;
  float: left;
  top: 15px;
  left: 300px;
  width: 44%;
  height: 150px;
}

.bruna-gomes-title01 h1 {
  position: relative;
  text-align: center;
  font-size: 110px;
  font-family: 'Oswald', sans-serif;
}

.bruna-gomes-img2 {
  position: absolute;
  float: right;
  top: 150px;
  left: 295px;
  width: 47%;
  height: auto;
}

.bruna-gomes-img2 img {
  position: relative;
  width: 100%;
  height: auto;
  border: 4px solid #4C1919;
}

.bruna-gomes-title02 {
  position: absolute;
  float: left;
  top: 342px;
  left: 288px;
  width: 49%;
  height: 110px;
}

.bruna-gomes-title02 h1 {
  position: relative;
  left: 5px;
  text-align: left;
  font-size: 98px;
  word-spacing: -9px;
  font-family: 'Oswald', sans-serif;
}

.bruna-gomes-img3 {
  position: absolute;
  float: left;
  top: 280px;
  width: 47%;
  height: auto;
}

.bruna-gomes-img3 img {
  position: relative;
  width: 100%;
  height: auto;
  border: 4px solid #4C1919;
}

.bruna-gomes-text {
  position: absolute;
  top: 470px;
  width: 100%;
  height: 120px;
}

.bruna-gomes-text p {
  position: relative;
  text-align: justify;
  font-size: 19px;
  color: black;
}

.bruna-gomes-author {
  position: absolute;
  float: right;
  top: 570px;
  left: 350px;
  width: 40%;
  height: 40px;
}

#bruna-gomes-slash {
    top: 2px;
    left: -60px;
    border: 1.5px solid white;
}

.bruna-gomes-author h4 {
  position: relative;
  top: -28px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.bruna-gomes-continue {
  position: absolute;
  top: 620px;
  width: 100%;
  height: 60px;
}

.bruna-gomes-continue h5 {
  position: relative;
  text-align: center;
  top: 12px;
  left: 55;
  font-size: 25px;
  text-shadow: 2px 2px black;
}

.bruna-diniz-section {
  position: relative;
  float: left;
  top: -570px;
  left: 15px;
  width: 24%;
  height: 520px;
}

.bruna-diniz-author {
  position: relative;
  float: right;
  top: -30px;
  width: 60%;
  height: 40px;
}

.bruna-diniz-author h4 {
  position: relative;
  top: -28px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

#bruna-diniz-slash {
  top: 2px;
  left: -10px;
  border: 1.5px solid white;
}

.bruna-diniz-text {
  position: relative;
  width: 100%;
  height: 400px;
}

.bruna-diniz-text p {
  position: relative;
  text-align: justify;
  font-size: 19px;
  color: black;
}

.bruna-diniz-continue {
  position: relative;
  top: 20px;
  width: 100%;
  height: 60px;
}

.bruna-diniz-continue h5 {
  position: relative;
  top: 5px;
  left: 100px;
  text-align: center;
  font-size: 20px;
}

.bruno-caldeira-section {
  position: relative;
  float: left;
  top: -570px;
  left: 45px;
  width: 24%;
  height: 450px;
}

.bruno-caldeira-title {
  position: relative;
  width: 100%;
  height: 40px;
}

.bruno-caldeira-title h1 {
  position: relative;
  top: -5px;
  text-align: left;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
}

.bruno-caldeira-author {
  position: relative;
  float: right;
  top: -30px;
  width: 60%;
  height: 40px;
}

.bruno-caldeira-author h4 {
  position: relative;
  top: -26px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

#bruno-caldeira-slash {
  top: 5px;
  left: -35px;
  border: 1.5px solid white;
}

.bruno-caldeira-text {
  position: relative;
  top: -10px;
  width: 100%;
  height: 359px;
}

.bruno-caldeira-text p {
  position: relative;
  text-align: justify;
  font-size: 19px;
  color: black;
}

.bruno-caldeira-continue {
  position: relative;
  top: 21px;
  width: 100%;
  height: 60px;
}

.bruno-caldeira-continue h5 {
  position: relative;
  top: 5px;
  left: 100px;
  text-align: center;
  font-size: 20px;
}

.edicao1 {
  position: relative;
  float: left;
  top: -80px;
  left: -633px;
  width: 50.3%;
  height: 140px;
}

.revista-link {
  position: relative;
  float: left;
  width: 48%;
  height: 100%;
  background-color: rgba(233, 26, 26, 1);
}

.revista-link h1 {
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  color: #CFC7B4;
  text-shadow: 3px 3px black;
}

.edicao-link {
  position: relative;
  float: right;
  width: 48%;
  height: 100%;
  background-color: rgba(233, 26, 26, 1);
}

.edicao-link h1 {
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  color: #CFC7B4;
  text-shadow: 3px 3px black;
}


/* REVISTA-INNER ENDS */

/* -- REVISTA ENDS -- */

/* -- SOBRE STARTS -- */

.events-section {
  position:absolute;
  top: 2450px;
  width: 100%;
  height: 554px;
  background-color: black;
  border-bottom: 20px solid black;
}

.agenda-section {
  position: absolute;
  top: 20px;
  width: 68%;
  height: 534px;
  z-index: 99;
}

#fundo-agenda-title {
  position: absolute;
  left: 50px;
  width: 50%;
  height: 150px;
}

#agenda-title {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  letter-spacing: 5px;
  font-weight: normal;
  color: #CFC7B4;
  text-shadow: 2.5px 2.5px black;
}

.calendario {
  position: absolute;
  top: 25px;
  left: 430px;
}

.agenda-text-01 {
  position: absolute;
  float: left;
  top: 120px;
  left: 15px;
  width: 42%;
  height: 155px;
}

.agenda-text-02 {
  position: absolute;
  float: left;
  top: 300px;
  left: 15px;
  width: 89%;
  height: 200px;
}

.agenda-text-01 a:hover, .agenda-text-02 a:hover {
  text-decoration: none;
}

.agenda-text-01 h2:hover, .agenda-text-02 h2:hover {
  color: Dimgray;
}

.agenda-text-01 p:hover, .agenda-text-02 p:hover {
  color: Dimgray;
}

.agenda-text-01 h2, .agenda-text-02 h2 {
  position: relative;
  top: 5px;
  left: 5px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 28px;
  text-shadow: 2px 2px black;
}

.agenda-text-01 p, .agenda-text-02 p {
  position: relative;
  top: 5px;
  left: 5px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 18px;
}

.newsletter-section {
  position: absolute;
  float:right;
  top: 45px;
  left: 880px;
  width: 32%;
  height: 460px;
  background-color: white;
}

.logo02-area {
  position: absolute;
  width: 100%;
  height: 240px;
}

.logo02-img {
  position: absolute;
  top: -25px;
  left: 50px;
  width: 80%;
  height: auto;
}

.newsletter-title {
  position:absolute;
  top: 250px;
  left: 25px;
  width: 90%;
  height: 50px;
}

.newsletter-title h2 {
  position: relative;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 40px;
  letter-spacing: 12px;
}

.newsletter {
  position: absolute;
  top: 305px;
  left: 25px;
  width: 90%;
  height: 150px;
}

#mc_embed_signup {

}

#mc_embed_signup_scroll {
  position: relative;
  top: 10px;
  left: 40px;
}

#mc-embedded-subscribe {
  position: relative;
  top: 15px;
  left: 110px;
}

/* -- EVENTS ENDS -- */

/* -- NAV 2 START -- */
.menu2 {
  position: absolute;
  top:3000px;
  display: inline-block;
  width: 100%;
  height: 100px;
}

.nav-scroller2 {
  position: relative;
  width: 100%;
  height: 102px;
  background-color: black;

}

#nav2 a {
  position: relative;
  top: 40px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: lighter;
}

#nav2 a:hover {
  color: white;
  text-decoration: none;
}

/* -- NAV 2 END -- */

/* -- FOOTER STARTS -- */

.footer-section {
  position: absolute;
  top: 3100px;
  width: 100%;
  height: 162px;
  background-color: black;
}

.footer-text {
  position: relative;
  top: 46px;
  left: 332px;
  width: 50%;
  height: 50px;
}

.footer-text h6 {
  position: relative;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: white;
  text-shadow: 1px 1px black;
}

.footer-text a {
  font-size: 16px;
  color: white;
}

.footer-text a:hover {
  font-size: 16px;
  color: rgba(233, 26, 26, 1);
  text-decoration: none;
}

/* -- FOOTER ENDS -- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:101.1%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
