/* -- GENERAL -- */

/*
* colors:
* #4C1919 - Bordô* - rgba(255, 0, 0, 0.6) - rgba(233, 26, 26, 1)
* #BAA87C - Bege* - lighter => #CFC7B4
*/

body, main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

body a {
  color: white;
}

body a:hover {
  color: Dimgray;
  text-decoration: none;
}

body, main, .container {

}

.text p {
  text-align: justify;
  font-family: 'Crimson Text', serif;
}

.container {
  position: absolute;
  top: 50px;
  left: 175px;
  width: 75%;
  height: 4900px;
  background-color: white;
}

/* MENU STARTS */

.menu-superior {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: black;
  border-bottom: 2px solid black;
}

#nav a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color:  white;
  font-weight: lighter;
}

#nav a:hover {
  color: Dimgray;
  text-decoration: none;
}

/* MENU ENDS */

/* social sidebar starts */

.social-sidebar {
  position: fixed;
  left: 1220px;
  z-index: 99;
  float: right;
  width: 80px;
  height: 105px;
}

#face-logo-sidebar {
  position: relative;
  left: 17px;
  width: 45px;
  height: 40px;
}

#inst-logo-sidebar {
  position: relative;
  top: 15px;
  left: 2px;
  width: 75px;
  height: 50px;
}

/* social sidebar ends */

/* -- REVISTA STARTS -- */

.revista-posts {
  position: relative;
  width: 100%;
  height: auto;
}

.revista-section-title a:hover {
  text-decoration: none;
}

.revista-posts a:hover {
  text-decoration: none;
}

/* REVISTA-INNER STARTS */

.revista-posts-inner {
  position: relative;
  z-index: 0;
  top: 15px;
  width: 100%;
  height: 1330px;
}

.title {
  text-align: center;
}

.title h1 {
  color: rgba(233, 26, 26, 1);
  position: relative;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 3px 3px black;
}

.continue-btn {
  background-color: rgba(233, 26, 26, 1);
}

.continue-btn h5 {
  color: white;
  text-shadow: 1px 1px black;
}

.continue-btn h5:hover {
  color: lightgray
}

.author {
  background-color:black;
}

.author h2 {
  color: white;
}

.text p {
  text-align: justify;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.slash-revista {
  position: relative;
  width: 15px;
  border: 1.5px solid white;
}

.logo-bara-revista {
  position: absolute;
  top: -20px;
  width: 20%;
  height: auto;
}

#logo-bara-revista {
  position: relative;
  width: 100%;
  height: auto;
}

.topicos {
  position: absolute;
  float: right;
  left: 300px;
  width: 70%;
  height: 130px;
}

.topicos a {
  position: relative;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  text-shadow: 0.5px 0.5px black;
  padding: 3px;
}

.topicos a:hover {
  color: white;
  background-color: rgba(233, 26, 26, 1);
}

.maria-trindade-section {
  position: absolute;
  float: left;
  top: 150px;
  width: 50%;
  height: 450px;
}

.maria-trindade-img {
  position: relative;
}

.maria-trindade-img img {
  position: relative;
  width: 100%;
  height: 410px;
}

.maria-trindade-title {
  position: absolute;
  top: 400px;
  left: 2px;
  width: 100%;
}

.maria-trindade-title h1 {
  font-size: 85px;
  text-align: justify;
  letter-spacing: 4px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 3px 3px black;
}

.maria-trindade-author {
  position: absolute;
  top: 510px;
  left: 318px;
  width: 34%;
  height: 30px;
  text-align: center;
}

.maria-trindade-author h2 {
  position: relative;
  top: -30px;
  left: 15px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

.maria-trindade-continue {
  position: relative;
  top: 100px;
  width: 34%;
  height: 30px;
}

.maria-trindade-continue h5 {
  position: relative;
  text-align: center;
  top: 5px;
  font-size: 14px;
}

#maria-trindade-slash {
  top: 0px;
  left: -55px;
  color: white;
}

.bru-pereira-section {
  position: absolute;
  float: right;
  top: 120px;
  left: 515px;
  width: 46%;
  height: 240px;
}

.bru-pereira-title {
  position: absolute;
  width: 50%;
  text-align: right;
}

.bru-pereira-title h1 {
  position: relative;
  top: 5px;
  left: -25px;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 3px 3px black;
}

.bru-pereira-author {
  position: absolute;
  top: 75px;
  left: 316px;
  width: 30%;
  height: 40px;
}

#bru-pereira-slash {
  top: 2px;
  left: -35px;
}

.bru-pereira-author h2 {
  position: relative;
  top: -28px;
  left: 45px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.bru-pereira-text {
  position: absolute;
  top: 120px;
  width: 100%;
  max-height: 300px;
  height: 150px;
  text-align: justify;
}

.bru-pereira-text p {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.bru-pereira-continue {
  position: absolute;
  top: 200px;
  left: 248px;
  width: 45%;
  height: 40px;
}

.bru-pereira-continue h5 {
  position: relative;
  top: 7px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.carol-do-vale-section {
  position: absolute;
  float: right;
  top: 380px;
  left: 515px;
  width: 46%;
  height: 230px;
}

.carol-do-vale-title {
  position: absolute;
  width: 100%;
  height: 160px;
  top: 5px;
}

.carol-do-vale-title h1 {
  position: relative;
  top: -10px;
  text-align: right;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1.5px 1.5px black;
}

.carol-do-vale-author {
  position: absolute;
  top: 45px;
  width: 30%;
  height: 40px;
}

#carol-do-vale-slash {
  top: 3px;
  left: -52px;
}

.carol-do-vale-author h2 {
  position: relative;
  top: -28px;
  left: 30px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.carol-do-vale-text {
  position: absolute;
  top: 90px;
  width: 100%;
  height: 150px;
}

.carol-do-vale-text p {
  text-align: justify;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.carol-do-vale-continue {
  position: absolute;
  top: 190px;
  left: 235px;
  width: 48%;
  height: 40px;
}

.carol-do-vale-continue h5 {
  position: relative;
  text-align: center;
  top: 7px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.bruna-gomes-section {
  position: absolute;
  float: right;
  top: 705px;
  left: 515px;
  width: 46%;
  height: 565px;
}

.bruna-gomes-imgs {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 430px;
}

.bruna-gomes-img1 {
  position: absolute;
  float: left;
  top: -20px;
  width: 49%;
  height: auto;
}


.bruna-gomes-img1 img {
  position: relative;
  width: 100%;
  height: auto;
}

.bruna-gomes-title01 {
  position: absolute;
  float: right;
  top: -20px;
  left: 235px;
  width: 44%;
  height: 150px;
}

.bruna-gomes-title01 h1 {
  position: relative;
  text-align: center;
  font-size: 90px;
  font-family: 'Oswald', sans-serif;
}

.bruna-gomes-img2 {
  position: absolute;
  float: right;
  top: 90px;
  left: 230px;
  width: 49%;
  height: auto;
}

.bruna-gomes-img2 img {
  position: relative;
  width: 100%;
  height: auto;
}

.bruna-gomes-title02 {
  position: absolute;
  float: left;
  top: 245px;
  left: 230px;
  width: 54%;
  height: 110px;
}

.bruna-gomes-title02 h1 {
  position: relative;
  left: 5px;
  text-align: left;
  font-size: 75px;
  word-spacing: -9px;
  font-family: 'Oswald', sans-serif;
}

.bruna-gomes-img3 {
  position: absolute;
  float: left;
  top: 200px;
  width: 49%;
  height: auto;
}

.bruna-gomes-img3 img {
  position: relative;
  width: 100%;
  height: auto;
}

.bruna-gomes-text {
  position: absolute;
  top: 350px;
  width: 100%;
  height: 120px;
}

.bruna-gomes-text p {
  position: relative;
  text-align: justify;
  font-weight: lighter;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.bruna-gomes-author {
  position: absolute;
  float: right;
  top: 440px;
  left: 271px;
  width: 40%;
  height: 40px;
}

#bruna-gomes-slash {
    top: 2px;
    left: -65px;
    border: 1.5px solid white;
}

.bruna-gomes-author h2 {
  position: relative;
  top: -28px;
  left: -10px;
  text-align: right;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

.bruna-gomes-continue {
  position: absolute;
  top: 490px;
  width: 100%;
  height: 60px;
}

.bruna-gomes-continue h5 {
  position: relative;
  text-align: center;
  top: 12px;
  left: 55;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px black;
}

.bruna-diniz-section {
  position: absolute;
  float: left;
  top: 765px;
  width: 24%;
  height: 510px;
}

.bruna-diniz-author {
  position: absolute;
  float: right;
  top: 400px;
  left: 117px;
  width: 50%;
  height: 40px;
}

.bruna-diniz-author h2 {
  position: relative;
  top: -28px;
  left: -10px;
  text-align: right;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

#bruna-diniz-slash {
  top: 0px;
  left: -38px;
  border: 1.5px solid white;
}

.bruna-diniz-text {
  position: relative;
  width: 100%;
  height: 400px;
}

.bruna-diniz-text p {
  position: relative;
  text-align: left;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.bruna-diniz-continue {
  position: absolute;
  top: 450px;
  width: 100%;
  height: 60px;
}

.bruna-diniz-continue h5 {
  position: relative;
  top: 15px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.bruno-caldeira-section {
  position: absolute;
  float: left;
  top: 765px;
  left: 255px;
  width: 24%;
  height: 510px;
}

.bruno-caldeira-title {
  position: relative;
  top: 0px;
  width: 100%;
  height: 40px;
}

.bruno-caldeira-title h1 {
  position: relative;
  top: -5px;
  text-align: left;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px black;
}

.bruno-caldeira-author {
  position: relative;
  float: right;
  top: 2px;
  width: 60%;
  height: 40px;
}

.bruno-caldeira-author h2 {
  position: relative;
  top: -26px;
  left: -10px;
  text-align: right;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

#bruno-caldeira-slash {
  top: 2px;
  left: -47px;
  border: 1.5px solid white;
}

.bruno-caldeira-text {
  position: relative;
  top: 10px;
  width: 100%;
  height: 359px;
}

.bruno-caldeira-text p {
  position: relative;
  text-align: justify;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.bruno-caldeira-continue {
  position: relative;
  top: 51px;
  width: 100%;
  height: 60px;
}

.bruno-caldeira-continue h5 {
  position: relative;
  top: 5px;
  left: 60px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}


.davi-section {
  position: relative;
  top: 1290px;
  width: 48%;
  height: 500px;
}

.davi-title {
  position: relative;
}

.davi-title h1 {
  font-size: 35px;
  text-shadow: 1.5px 1.5px black;
}

.davi-img {
  position: relative;
  float: left;
  left: 50px;
  top: 20px;
  width: 100%;
}

.davi-img img {
  width:  80%;
}

.davi-continue {
  position: relative;
  top: 350px;
  width: 100%;
  height: 40px;
}

.davi-continue h5 {
  position: relative;
  text-align: center;
  top: -260px;
}

.davi-author {
  position: relative;
  float: right;
  top: 30px;
  width: 30%;
  height: 40px;
}

#davi-slash {
  top: 2px;
  left: -35px;
  border: 1.5px solid white;
}

.davi-author h2 {
  position: relative;
  top: -30px;
  left: -10px;
  text-align: right;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
}


.daniel-lima-section {
  position: absolute;
  top: 1800px;
  width: 50%;
  height: 380px;
}

.daniel-lima-title {
  position: relative;
  width: 100%;
  height: 140px;
}

.daniel-lima-title h1 {
  position: relative;
  text-align: center;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px black;
}

.daniel-img {
  position: relative;
  top: 20px;
  left: 90px;
  width: 60%;
}

.daniel-img img {
  position: relative;
  width: 100%;
}

.daniel-lima-text {
  position: relative;
  top: 30px;
  width: 100%;
  height: 200px;
}

.daniel-lima-text p {
  position: relative;
  text-align: justify;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.daniel-lima-author {
  position: relative;
  float: right;
  top: -80px;
  width: 35%;
  height: 40px;
}

#daniel-lima-slash {
  position: relative;
  top: 4px;
  left: -44px;
}

.daniel-lima-author h2 {
  position: relative;
  top: -26px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
}

.daniel-lima-continue {
  position: relative;
  top: -30px;
  width: 100%;
  height: 60px;
}

.daniel-lima-continue h5 {
  position: relative;
  top: 15px;
  left: 80px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.iara-section {
  position: absolute;
  float: left;
  top: 2470px;
  width: 50%;
  height: 325px;
}

.iara-title {
  position: relative;
  width: 100%;
  top: -70px;
  height: 130px;
}

.iara-title h1 {
  position: relative;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1.5px 1.5px black;
}

.iara-text {
  position: relative;
  top: -60px;
  width: 100%;
}

.iara-text p {
  position: relative;
  text-align: justify;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.iara-author {
  position: relative;
  float: right;
  top: -50px;
  width: 34%;
  height: 40px;
}

#iara-slash {
  position: relative;
  top: 5px;
  left: -60px;
}

.iara-author h2 {
  position: relative;
  top: -25px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
}

.iara-continue {
  position: relative;
  top: 0px;
  width: 100%;
  height: 60px;
}

.iara-continue h5 {
  position: relative;
  top: 15px;
  left: 75px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.claudinei-section {
  position: absolute;
  float: right;
  top: 1280px;
  left: 515px;
  width: 46%;
  height: auto;
}

.claudinei-title {
  position: relative;
  width: 100%;
  height: 130px;
}

.claudinei-title h1 {
  position: relative;
  text-align: center;
  font-size: 58px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px black;
}

.claudinei-img {
  position: relative;
  top: 15px;
  left: 1px;
}

.claudinei-text {
  position: relative;
  top: 20px;
  width: 100%;
}

.claudinei-text p {
  position: relative;
  text-align: justify;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.claudinei-author {
  position: relative;
  float: right;
  top: 10px;
  width: 48%;
  height: 40px;
}

#claudinei-slash {
  top: 4px;
  left: -78px;
}


.claudinei-author h2 {
  position: relative;
  top: -26px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
}

.claudinei-continue {
  position: relative;
  top: 60px;
  width: 100%;
  height: 60px;
}

.claudinei-continue h5 {
  position: relative;
  top: 15px;
  left: 100px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.cecilia-section {
  position: absolute;
  float: left;
  top: 2682px;
  width: 24%;
  height: 635px;
}

.cecilia-title {
  position: relative;
  top: 100px;
  left: -15px;
  width: 100%;
  height: 130px;
}

.cecilia-title h1 {
  position: relative;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px black;
}

.cecilia-text {
  position: relative;
  top: 30px;
  width: 100%;
}

.cecilia-text p {
  position: relative;
  text-align: justify;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.cecilia-author {
  position: relative;
  float: right;
  top: 30px;
  width: 80%;
  height: 40px;
}

#cecilia-slash {
  position: relative;
  top: 4px;
  left: -70px;
}

.cecilia-author h2 {
  position: relative;
  top: -25px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
}

.cecilia-continue {
  position: relative;
  top: 80px;
  width: 100%;
  height: 60px;
}

.cecilia-continue h5 {
  position: relative;
  top: -25px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.jucara-section {
  position: absolute;
  float: left;
  top: 2718px;
  left: 255px;
  width: 24%;
  height: 635px;
}

.jucara-text {
  position: relative;
  top: 27px;
  width: 100%;
}

.jucara-text p {
  position: relative;
  text-align: justify;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.jucara-author {
  position: relative;
  float: right;
  top: 52px;
  width: 80%;
  height: 40px;
}

#jucara-slash {
  position: relative;
  top: 4px;
  left: -55px;
}

.jucara-author h2 {
  position: relative;
  top: -25px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
}

.jucara-continue {
  position: relative;
  top: 102px;
  width: 100%;
  height: 60px;
}

.jucara-continue h5 {
  position: relative;
  top: -25px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.thais-section {
  position: absolute;
  float: right;
  top: 2000px;
  left: 515px;
  width: 46%;
  height: 645px;
}

.thais-title {
  position: relative;
  width: 100%;
  top: -20px;
  height: 130px;
}

.thais-title h1 {
  position: relative;
  text-align: justify;
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1.5px 1.5px black;
}

.thais-img {
  position: relative;
  top: -40px;
  width: 100%;
  height: auto;
}

.thais-img img {
  position: relative;
  left: 70px;
  width: 70%;
  height: auto;
}

.thais-text {
  position: relative;
  top: -30px;
  width: 100%;
}

.thais-text p {
  position: relative;
  text-align: justify;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.thais-author {
  position: relative;
  float: right;
  top: -40px;
  width: 34%;
  height: 40px;
}

#thais-slash {
  position: relative;
  top: 4px;
  left: -60px;
}

.thais-author h2 {
  position: relative;
  top: -25px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
}

.thais-continue {
  position: relative;
  top: 10px;
  width: 100%;
  height: 60px;
}

.thais-continue h5 {
  position: relative;
  top: 15px;
  left: 75px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.mare-section {
  position: relative;
  float: right;
  top: 2190px;
  width: 48%;
  height: 590px;
}

.mare-title {
  position: relative;
  top: 0px;
  text-align: center;
}

.mare-title h1 {
  font-size: 40px;
  text-shadow: 1.5px 1.5px black;
}

.mare-img {
  position: relative;
  top: 20px;
  width: 80%;
  height: 300px;
  left: 50px;
}

.mare-img img {
  position: relative;
  left: 30px;
  width: 80%;
  height: 400px;
}

.mare-author {
  position: relative;
  width: 64%;
  top: 130px;
  left: 80px;
  text-align: center;
  background-color: black;
}

.mare-author h1 {
  position: relative;
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px white;
}

.laila-section {
  position: absolute;
  top: 3310px;
  width: 96%;
  height: 700px;
}

.laila-title {
  position: relative;
  width: 70%;
  height: 60px;
}

.laila-title h1 {
  position: relative;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px black;
}

#l-img01 {
  position: relative;
  width: 70%;
  height: auto;
}

.laila-section01 div a img {
  position: relative;
  width: 100%;
  height: 260px;
}

.laila-text {
  position: relative;
  float: right;
  top: -485px;
  left: 1px;
  width: 30%
}

.laila-text p {
  position: relative;
  text-align: justify;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
}

.laila-continue {
  position: relative;
  float: right;
  top: -70px;
  left: 295px;
  width: 30%;
  height: 60px;
}

.laila-continue h5 {
  position: relative;
  text-align: center;
  top: 15px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.laila-author {
  position: relative;
  float: right;
  top: 0px;
  left: 579px;
  width: 20%;
  height: 40px;
}

#laila-slash {
  position: relative;
  top: 4px;
  left: -45px;
}

.laila-author h2 {
  position: relative;
  top: -25px;
  left: -10px;
  text-align: right;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
}

.clar-nc-section {
  position: absolute;
  float: left;
  top: 3920px;
  width: 48%;
  height: 600px;
}

.clar-nc-title {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100px;
}

.clar-nc-title h1 {
  font-size: 40px;
  text-shadow: 2px 2px black;
}

.clar-nc-video {
  position: relative;
  top: 20px;
  text-align: center;
}

.clar-nc-text {
  position: relative;
  width: 100%;
  top: 40px;
}

.clar-nc-continue {
  position: relative;
  top: 60px;
  width: 100%;
  height: 80px;
  text-align: center;
}

.clar-nc-continue h5 {
  position: relative;
  top: 25px;
  font-size: 20px;
}

.clar-nc-author {
  position: relative;
  float: right;
  top: 70px;
  width: 30%;
  height: 40px;
}

#clar-slash {
  position: relative;
  top: 5px;
  left: -20px;
}

.clar-nc-author h2 {
  position: relative;
  text-align: right;
  top: -25px;
  left: -10px;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
}





/* REVISTA-INNER ENDS */

/* -- REVISTA ENDS -- */




/* -- FOOTER STARTS -- */

.footer-section {
  position: absolute;
  top: 4940px;
  width: 100%;
  height: 162px;
  border-top: 2px solid black;
  background-color: black;
}

.footer-text {
  position: relative;
  top: 46px;
  left: 332px;
  width: 50%;
  height: 50px;
}

.footer-text h6 {
  position: relative;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  letter-spacing: -0.5px;
  color:white;
  text-shadow: 2px 2px black;
}

.footer-text a {
  font-size: 16px;
  color: white;
}

.footer-text a:hover {
  font-size: 16px;
  color: rgba(233, 26, 26, 1);
  text-decoration: none;
}

/* -- FOOTER ENDS -- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:101.1%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
